.thumb-class {
    width: 973px;
    height: 362px;
}

.thumb-inner {
    border: #00aaff solid 5px;
    border-radius: 5px;
}

.thumb-btn {
    border: #00aaff solid 2px;
    border-radius: 10px;
    background-color: #00aaff;
}

.thumb-btn-bg {
    background-color: #f0ffffa0;
    top: 5px;
    bottom: -5px;
    width: 10%;
}

.thumb-btn-left {
    left: 5px;
}

.thumb-btn-right {
    right: 5px;
}